<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoarFsyy4eQtZx_YkLKOnMPNHeY4GnkM0</string>
	<key>GCM_SENDER_ID</key>
	<string>845056101890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scissorsnewproject</string>
	<key>PROJECT_ID</key>
	<string>scissorsnewproject</string>
	<key>STORAGE_BUCKET</key>
	<string>scissorsnewproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845056101890:ios:04de49aa19e4914c00611b</string>
</dict>
</plist>